.InputSection{
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  padding: var(--main-more-filter-padding);
  transition: all 0.2s ease-out;
}
.UserPlusIcon {
  color: var(--main-color-2);
  width: var(--main-svg-size) !important;
  font-size: var(--main-svg-size);
  margin-right: var(--main-svg-margin-right);
}
.Input {
  width: 100%;
  border: none;
}
input[type='text'].Input {
  color: var(--main-color-6);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  background-color: transparent;
}
input.Input::-webkit-input-placeholder {
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  color: var(--main-color-2);
}
.Input:focus {
  outline: none;
}
.Input:focus + .InputSection {
  border: 1px solid var(--main-color-6);
  border-radius: 50px;
}
.PlusIcon {
  color: var(--main-color-2);
  width: .9rem !important;
  font-size: .9rem;
  transition: all 0.2s ease-out;
}
.InputSection:hover > .PlusIcon {
  color: var(--main-color-3);
}
.InputCaption {
  width: 13rem;
  display: flex;
  align-items: center;
}
.InputCaption:hover > .UserPlusIcon {
  color: var(--main-color-3);
}
.Active{
  border: 1px solid var(--main-color-2);
  border-radius: 5px;
}
.ActiveIcon{
  color: var(--main-color-3) !important;
}
@media (max-width: 1200px){
  input[type='text'].Input {
    font-size: var(--main-mobile-font-size);
  }
  input.Input::-webkit-input-placeholder {
    font-size: var(--main-mobile-font-size);
  }
}