.Lists {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-auto-rows: 21rem;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 3rem 1.8rem;
  text-align: start;
  /* margin-top: 1rem; */
  text-decoration: none;
  color: inherit;
}
.PrevNextButtons {
  margin: 4rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PrevNextButton {
  border: 1px solid var(--main-color-6);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 0.6rem;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: var(--main-color-6);
}
.PrevNextIcon {
  font-size: 0.8rem;
  color: white;
  width: 0.8rem !important;
}
.PrevButton {
  position: absolute;
  left: 1rem;
}
.NextButton {
  position: absolute;
  right: 1rem;
}
.PrevNextPageText {
  font-size: 0.9rem;
  color: white;
}