.Lists {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-auto-rows: 21rem;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 3rem 1.8rem;
  text-align: start;
  /* margin-top: 1rem; */
  text-decoration: none;
  color: inherit;
}
@media (max-width: 900px){
  .Lists {
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-auto-rows: 18rem;
  }
}