.DiscoverSection {
  width: 70%;
  /* height: 1rem; */
  /* margin: 0.5rem 0; */
  padding: 0.4rem 0.2rem 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  backface-visibility: hidden;
  border: 1px solid transparent;
  border-radius: 50px;
  text-decoration: none; 
  color: inherit;
}
.Active{
  background-color: var(--main-color-1);
  width: 140%;
  margin-left: -35.5%;
  color: var(--main-color-3);
  font-weight: 600;
}
.Active > svg{
  margin-left: 26.5%;
  color: var(--main-color-3);
}
.Active:hover{
  background-color: var(--main-color-1) !important;
}
.DiscoverSection:hover {
  background-color: #fbfbfb;
  width: 140%;
  margin-left: -35.5%;
}
.DiscoverSection:hover > .DiscoverIcon {
  margin-left: 26.5%;
}
.DiscoverIcon{
  color: var(--main-color-2);
  width: var(--main-svg-size) !important;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: var(--main-svg-size);
  margin-right: var(--main-svg-margin-right);
}
.DiscoverSection > p {
  padding: .2rem 0;
  font-size: var(--main-font-size);
}
@media (max-width: 1200px){
  .DiscoverSection > p {
    font-size:  var(--main-mobile-font-size);
  }
}