.Search {
  display: flex;
  align-items: center; 
  margin-top:1rem;
  justify-content: center;
}
.SearchInput {
  padding: 0.6rem 0.8rem;
  border-radius: 3rem;
  transition: all 0.2s ease-out;
  border: none;
  box-shadow: 0 4px 4px rgba(10, 53, 63, 0.02);
  background-color: transparent;
  color:var(--main-color-3);
  font-size: 1rem;
  width: 98%;
  margin-right: -2rem;
}
.SearchInput::-webkit-input-placeholder {
  color: var(--main-color-2);
}
.SearchInput:focus {
  outline: none;
  box-shadow: 0 4px 4px rgba(10, 53, 63, 0.06);
}
.SearchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.SearchButton:focus {
  outline: none;
}
.SearchIcon {
  color:var(--main-color-3);
  width: 1rem !important;
  font-size: 1rem;
}

@media (max-width: 900px){
  .Search{
    justify-content: flex-end;
    margin-right:2rem;
  }
  .SearchInput {
    width: 85%;
  }
}
@media (max-width: 1200px){
  .SearchInput {
    width: 85%;
  }
}