.FilterSection {
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  backface-visibility: hidden;
  border: 1px solid transparent;
  border-radius: 50px;
  transform: all 1s ease-out;
}
.Caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.2rem 0.2rem 0.6rem;
}
.Name {
  width: 10rem;
  display: flex;
  align-items: center;
}
.Name:hover > * {
  color: var(--main-color-3);
}
.NameIcon{
  color: var(--main-color-2);
  width: 1rem !important;
  font-size: 1rem;
  margin-right: 1.5rem;
}
.Name:hover > .NameIcon {
  color: var(--main-color-3);
}

.SelectType{
  border: none;
  box-shadow: none;
  font-size: 1rem;
  color: var(--main-color-2);
  font-family: var(--main-font);
  cursor: pointer;
  background-color: initial;
  margin-left: -4px;
}
.SelectType:active, .SelectType:focus, .SelectType:hover{
  box-shadow: none;
  border: none;
  outline: none;
}
.SelectType > option{
  padding: 0 1rem 0 1rem;
}