:root {
  --main-font: 'Poppins', sans-serif;
  --main-color-1: #f2f2f2;
  --main-color-2: #687980;
  --main-color-3:#023447;
  --main-color-4: #0a353f;
  --main-color-5: #001b26;
  --main-color-6: #132D33;
  --main-color-7: #c1d1eb;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  overflow-x: hidden;
}