.Header {
  color: var(--main-color-6);
  font-size:.8rem;
  margin-bottom: .4rem;
}
.CastContainer{
  display:flex;
  align-items: center;
  height:4rem;
  justify-content: center;
  position: relative;
  width:100%;
}
.CastLeftRightIcons{
  position: absolute;
  width:100%;
  display:flex;
  justify-content: space-between;
}
.CastLeftRightIcons > *{
  width:1rem !important;
  font-size: 1rem;
  height:1rem;
  fill: var(--main-color-4);
  cursor: pointer;
  visibility: hidden;
}
.Active{
  visibility: visible !important;
}
.CastsWrapper{
  position: absolute;
  width:90%;
  overflow-x:hidden;
  display:flex;
  align-items: center;
  padding: 2.5rem;
}
.Casts{
  display:flex;
  transition: all 0.2s ease-out;
}
.Cast{
  width:3rem;
  height:3rem;
  border-radius:50%;
  object-fit: cover;
}
.CastWrap{
  position: relative;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}
.Span {
  visibility: hidden;
  position: absolute;
  opacity: .9;
  font-size: .6rem;
  padding: .2rem .5rem;
  flex-wrap: nowrap;
  background-color: var(--main-color-3);
  transition: all .05s ease;
  border-radius: .1rem;
  color: white;
  top: -25%;
  width: max-content;
  z-index: 999;
}
.CastWrap:hover > .Span {
  visibility: visible;
}