.Sidebar {
  min-height: 100vh;
  height: 100%;
  padding: 0rem 1rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 2rem;
  background-color: white;
  transition: all .2s ease;
  border-right: 1px solid rgba(0, 0, 0, 0.18);
}
.Sidebar > * {
  margin-bottom: 1rem;
}
.XIcon{
  display:none;
  cursor: pointer;
  position: absolute;
  top:0;
  right:0;
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--main-color-3);
}
.Height {
  height: 100vh !important;
}
.Footer {
  margin: auto 2rem 0rem 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color-2);
}
.Footer > *:first-child{
  border-top: .5px solid var(--main-color-1);
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Footer > p {
  font-size: .65rem;
  margin-bottom: .3rem;
}
.Me > span{
  color: var(--main-color-6);
  font-weight: 700;
}
.Link {
  color: var(--main-color-6);
  text-decoration: none;
  margin-left: 3px;
  font-weight: 700;
}
.Hover {
  transition: all .2s ease;
  z-index: 200;
  /* box-shadow: 0 4p
  x 4px rgba(0, 0, 0, 0.1); */
}
.SidebarVanish {
  transform: translate3d(-100%, 0px, 0px);
}
.Modal {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    top: 0px;
}
.Remove {
  display: none;
}
@media (max-width: 1200px){
  .Sidebar {
    position: fixed;
    left: 0;
    top:0;
    overflow: auto scroll;
    padding: 3rem 1rem 0rem 0.5rem;
    z-index: 100;
    height: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .XIcon{
    display: block;
  }
}

