.Sidebar {
  height: 100%;
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 2rem;
  background-color: white;
  transition: all .2s ease;
}
.Sidebar > * {
  margin-bottom: 1rem;
}
.XIcon{
  display:none;
  cursor: pointer;
  position: absolute;
  top:0;
  right:0;
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--main-color-3);
}
.SidebarOpen {
  transition: all .2s ease;
  border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.Footer {
  margin: 3rem 2rem 1rem 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color-2);
  border-top: .5px solid var(--main-color-1);
}
.Footer > p {
  font-size: .65rem;
  margin-bottom: .3rem;
}
.Me > span{
  color: var(--main-color-6);
  font-weight: 700;
}
.Link {
  color: var(--main-color-6);
  text-decoration: none;
  margin-left: 3px;
  font-weight: 700;
}
.Hover {
  transition: all .2s ease;
  z-index: 200;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}